/* Font families */
/* Main colors */
/* Section colors */
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  color: #525F7F;
  background-image: url("./../img/header-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100px 0px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Sen", sans-serif;
  color: #32325D; }

h1 {
  font-size: 48px; }

h2 {
  font-weight: normal;
  font-size: 40px; }

h3 {
  font-weight: normal;
  font-size: 30px; }

h4 {
  letter-spacing: 0.5px; }

a {
  color: #32325D; }

p {
  font-size: 19px;
  line-height: 35px;
  letter-spacing: 0.5px; }
  p.small {
    line-height: 26px;
    font-size: 16px; }
  p.large {
    line-height: 46px;
    font-size: 23px; }

ul.list {
  margin: 0;
  padding: 0; }
  ul.list li {
    list-style: none;
    background: url("../img/Shape 9@1X.png") no-repeat center left;
    line-height: 50px;
    padding-left: 40px;
    font-size: 16px;
    color: #32325D; }
    ul.list li::marker {
      margin-top: 5px; }

/* ==========================================================================
[General classes]
========================================================================== */
.band {
  position: relative;
  width: 100%; }

.container {
  width: 80%;
  height: 100%;
  margin: auto; }

.base-grid {
  height: 100%; }

.clear {
  clear: both; }

.clear-mobile {
  clear: both; }

/* ==========================================================================
[Form elements]
========================================================================== */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
textarea {
  box-shadow: 0 0 23px -7px #845CFF;
  padding: 15px 30px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 23px -16px #845cff;
  font-size: 21px; }

[type="submit"], [type="button"], button, .button, .menu .active {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  background-color: #845CFF;
  color: white;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-size: 19px;
  box-shadow: 0 0 11px -1px #845CFF;
  cursor: pointer; }
  [type="submit"]:active, [type="button"]:active, button:active, .button:active, .menu .active:active {
    box-shadow: 0 0 11px -3px #845CFF; }

label {
  font-weight: bold; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.cb {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.m-5 {
  margin: 5px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.m-15 {
  margin: 15px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.p-5 {
  padding: 5px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.p-10 {
  padding: 10px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.p-15 {
  padding: 15px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.menu-container ul {
  margin: 0;
  padding: 0; }
  .menu-container ul li {
    list-style: none;
    display: inline; }

/* ==========================================================================
[Header]
========================================================================== */
.band-header .container {
  margin-top: 50px; }
  .band-header .container .logo {
    float: none; }
  .band-header .container .hamburger {
    float: right;
    position: relative;
    top: -50px;
    background: #32325D;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer; }
  .band-header .container .hamburger-menu {
    display: none;
    width: 100%;
    position: absolute;
    background: #32325D;
    border-radius: 5px;
    box-shadow: 0px 6px 11px -5px #32325D;
    z-index: 3; }
    .band-header .container .hamburger-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .band-header .container .hamburger-menu ul li a {
        display: block;
        text-align: center;
        padding: 0;
        color: white;
        padding: 10px 0;
        line-height: 20px;
        text-decoration: none;
        font-weight: bold; }
        .band-header .container .hamburger-menu ul li a:hover {
          background: white;
          color: #32325D; }
  .band-header .container .menu {
    display: none;
    float: right; }
    .band-header .container .menu ul {
      margin: 0;
      padding: 0; }
      .band-header .container .menu ul li {
        list-style: none;
        display: inline; }
        .band-header .container .menu ul li a {
          display: inline-block;
          padding: 10px 20px;
          line-height: 20px;
          text-decoration: none;
          margin-left: 20px;
          font-weight: bold; }
  .band-header .container .header-left {
    width: 100%;
    text-align: center; }
    .band-header .container .header-left button {
      margin-bottom: 20px; }

/* ==========================================================================
[About us]
========================================================================== */
.band-about .container {
  margin-top: 50px; }
  .band-about .container .about-items .about-item {
    margin-bottom: 50px; }
    .band-about .container .about-items .about-item .ai-offset {
      padding: 50px;
      border-radius: 5px; }
    .band-about .container .about-items .about-item.ai-shadow .ai-offset {
      box-shadow: -11px 13px 39px -28px #32325d42; }

/* ==========================================================================
[Services]
========================================================================== */
.band-services {
  background-image: url("./../img/BG@1X.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 150px 0px; }
  .band-services .service-description {
    text-align: center;
    margin-bottom: 150px; }
    .band-services .service-description .offset {
      width: 80%;
      margin: auto; }
  .band-services .service-items .service-item {
    text-align: center;
    margin-bottom: 50px; }
    .band-services .service-items .service-item .offset {
      padding: 0 100px; }
  .band-services .service-items .service-even {
    clear: both; }

/* ==========================================================================
[What we do]
========================================================================== */
.band-wwd {
  background-image: url("./../img/Vector Smart Object1@1X (1).png");
  background-position: bottom right;
  background-position: 110% 70%;
  background-repeat: no-repeat; }
  .band-wwd .wwd-items .wwd-item .offset {
    padding: 40px; }
  .band-wwd .wwd-items .wwd-item img {
    max-width: 100%; }
  .band-wwd .wwd-items .wwd-item p {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 30px; }

/* ==========================================================================
[Footer]
========================================================================== */
.band-footer {
  background: #fbfaff;
  padding: 150px 0;
  text-align: center; }
  .band-footer .footer-item {
    text-align: left;
    position: relative;
    margin-bottom: 50px; }
    .band-footer .footer-item form {
      margin-top: 38px; }
      .band-footer .footer-item form button {
        color: #32325D;
        background: none;
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 17px; }
        .band-footer .footer-item form button i {
          margin-left: 10px; }
      .band-footer .footer-item form input {
        box-sizing: border-box;
        width: 100%;
        padding: 25px; }

/* ==========================================================================
[Bottom]
========================================================================== */
.band-bottom {
  background: #212240;
  color: #dedfe4;
  padding: 100px 0; }
  .band-bottom a {
    color: #dedfe4;
    text-decoration: none; }
  .band-bottom ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .band-bottom ul li a {
      display: block;
      line-height: 50px;
      text-align: center; }
  .band-bottom .bottom-item {
    text-align: center;
    margin-bottom: 50px; }
  .band-bottom .bottom-left {
    padding-top: 50px;
    text-align: center;
    color: #555476; }
    .band-bottom .bottom-left p {
      font-size: 16px; }
      .band-bottom .bottom-left p a {
        font-size: 16px; }
    .band-bottom .bottom-left a {
      color: #555476; }
  .band-bottom .bottom-right {
    padding-top: 50px;
    text-align: center;
    color: #555476; }
    .band-bottom .bottom-right a {
      color: #555476;
      padding: 0 15px; }
    .band-bottom .bottom-right p a {
      font-size: 16px; }
  .band-bottom .bottom-social-links a {
    color: #555476;
    padding: 5px 10px; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .clear-mobile {
    display: none; }
  .band-header .container .header-left {
    margin-top: 50px;
    width: 100%;
    text-align: left; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .band-header .container .header-left {
    margin-top: 100px;
    width: 80%; }
  .band-about .container .about-items .about-item {
    width: 45%;
    float: left; }
    .band-about .container .about-items .about-item:nth-child(even) {
      float: right; }
  .band-services .service-items .service-item {
    width: 50%;
    float: left; }
  .band-bottom .bottom-item {
    width: 50%;
    float: left;
    margin-bottom: 50px;
    text-align: center; }
  .band-bottom .bottom-right, .band-bottom .bottom-left {
    width: 50%;
    float: left; }
    .band-bottom .bottom-right p, .band-bottom .bottom-left p {
      text-align: center; }
  .band-bottom ul li a {
    text-align: center; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .band-header .container .logo {
    float: left; }
  .band-header .container .menu {
    display: block; }
  .band-header .container .hamburger {
    display: none; }
  .band-header .container .hamburger-menu {
    display: none !important; }
  .band-header .container .header-left {
    margin-top: 150px;
    width: 40%; }
  .band-services .service-items .service-item {
    width: 25%;
    float: left; }
    .band-services .service-items .service-item .offset {
      padding: 0 20px; }
  .band-services .service-items .service-even {
    display: none; }
  .band-wwd .wwd-items .wwd-item {
    width: 50%;
    float: left; }
    .band-wwd .wwd-items .wwd-item .wwd-item-left {
      float: left;
      width: 50%; }
    .band-wwd .wwd-items .wwd-item .wwd-item-right {
      width: 50%;
      float: right; }
    .band-wwd .wwd-items .wwd-item.wwd-i-right {
      float: right; }
    .band-wwd .wwd-items .wwd-item h3 {
      margin-bottom: 10px; }
  .band-footer .footer-item {
    width: 50%;
    float: left; }
    .band-footer .footer-item form button {
      top: 55px; }
  .band-bottom ul li a {
    text-align: center; }
  .band-bottom .bottom-left {
    padding-top: 50px; }
    .band-bottom .bottom-left p {
      text-align: center; }
  .band-bottom .bottom-right {
    padding-top: 50px; }
    .band-bottom .bottom-right p {
      text-align: center; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .band-header .container .header-left {
    margin-top: 200px;
    width: 40%; }
  .band-bottom .bottom-item {
    width: 25%;
    float: left;
    margin-bottom: 50px;
    text-align: left; }
  .band-bottom .bottom-left p {
    text-align: left; }
  .band-bottom .bottom-right p {
    text-align: right; }
  .band-bottom ul li a {
    text-align: left; }
  .container {
    width: 1100px; } }

/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px; }
