@import 'variables.scss';
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $primary_font_family;
  font-size: 16px;
  color: $primary_color_light;
  background-image: url('./../img/header-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100px 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary_font_family;
  color: $primary_color;
}
h1 {
  font-size: 48px;
}
h2 {
  font-weight: normal;
  font-size: 40px;
}
h3 {
  font-weight: normal;
  font-size: 30px;
}
h4 {
  letter-spacing: 0.5px;
}
a {
  color: $primary_color;
}
p {
  font-size: 19px;
  line-height: 35px;
  letter-spacing: 0.5px;
  &.small {
    line-height: 26px;
    font-size: 16px;
  }
  &.large {
    line-height: 46px;
    font-size: 23px;
  }
}

ul {
  &.list {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      background: url('../img/Shape\ 9@1X.png') no-repeat center left;
      line-height: 50px;
      padding-left: 40px;
      font-size: 16px;
      color: $primary_color;
      &::marker {
        margin-top: 5px;
      }
    }
  }
}

/* ==========================================================================
[General classes]
========================================================================== */
.band {
  position: relative;
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.base-grid {
  height: 100%;
}

.clear {
  clear: both;
}
.clear-mobile {
  clear: both;
}


/* ==========================================================================
[Form elements]
========================================================================== */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
textarea {
  box-shadow: 0 0 23px -7px  $secondary_color;
  padding: 15px 30px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 23px -16px #845cff;
  font-size: 21px;
}
[type="submit"], [type="button"], button, .button, .menu .active {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  background-color: $secondary_color;
  color: white;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-size:19px;
  box-shadow: 0 0 11px -1px  $secondary_color;
  cursor: pointer;
  &:active {
    box-shadow: 0 0 11px -3px  $secondary_color;
  }
}
label {
  font-weight: bold;
}

// Alignment
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

// Floating
.cb {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}

// Margins
@for $i from 1 through 3 {
  .m-#{$i * 5} {
    margin: #{$i * 5}px;
  }
  .mt-#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
  .mr-#{$i * 5} {
    margin-right: #{$i * 5}px;
  }
  .mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px;
  }
  .ml-#{$i * 5} {
    margin-left: #{$i * 5}px;
  }
}
// Paddings
@for $i from 1 through 3 {
  .p-#{$i * 5} {
    padding: #{$i * 5}px;
  }
  .pt-#{$i * 5} {
    padding-top: #{$i * 5}px;
  }
  .pr-#{$i * 5} {
    padding-right: #{$i * 5}px;
  }
  .pb-#{$i * 5} {
    padding-bottom: #{$i * 5}px;
  }
  .pl-#{$i * 5} {
    padding-left: #{$i * 5}px;
  }
}

.menu-container {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
    }
  }
}


/* ==========================================================================
[Header]
========================================================================== */
.band-header {
  .container {
    margin-top: 50px;
    .logo {
      float: none;
    }
    .hamburger {
      float: right;
      position: relative;
      top: -50px;
      background: $primary_color;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
    .hamburger-menu {
      display: none;
      width: 100%;
      position: absolute;
      background: $primary_color;
      border-radius: 5px;
      box-shadow: 0px 6px 11px -5px $primary_color;
      z-index: 3;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          a {
            display: block;
            text-align: center;
            padding: 0;
            color: white;
            padding: 10px 0;
            line-height: 20px;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              background: white;
              color: $primary_color;
            }
          }
        }
      }
    }
    .menu {
      display: none;
      float: right;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: inline;
          a {
            display: inline-block;
            padding: 10px 20px;
            line-height: 20px;
            text-decoration: none;
            margin-left: 20px;
            font-weight: bold;
          }
        }
      }
    }
    .header-left {
      width: 100%;
      text-align: center;
      button {
        margin-bottom: 20px;
      }
    }
  }
}

/* ==========================================================================
[About us]
========================================================================== */
.band-about {
  .container {
    margin-top: 50px;
    .about-items {
      .about-item {
        margin-bottom: 50px;
        .ai-offset {
          padding: 50px;
          border-radius: 5px;
        }
        &.ai-shadow {
          .ai-offset {
            box-shadow: -11px 13px 39px -28px #32325d42;
          }
        }
      }
    }
  }
}

/* ==========================================================================
[Services]
========================================================================== */
.band-services {
  background-image: url('./../img/BG@1X.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 150px 0px;
  .service-description {
    text-align: center;
    margin-bottom: 150px;
    .offset {
      width: 80%;
      margin: auto;
    }
  }
  .service-items {
    .service-item {
      text-align: center;
      margin-bottom: 50px;
      .offset {
        padding: 0 100px;
      }
    }
    .service-even {
      clear: both;
    }
  }
}

/* ==========================================================================
[What we do]
========================================================================== */
.band-wwd {
  background-image: url('./../img/Vector Smart Object1@1X (1).png');
  background-position: bottom right;
  background-position: 110% 70%;
  background-repeat: no-repeat;
  .wwd-items {
    .wwd-item {
      .offset {
        padding: 40px;
      }
      img {
        max-width: 100%;
      }
      p {
        font-size: 16px;
        margin: 0 0 10px 0;
        line-height: 30px;
      }
    }
  }
}

/* ==========================================================================
[Footer]
========================================================================== */
.band-footer {
  background: $footer_bg_color;
  padding: 150px 0;
  text-align: center;
  .footer-item {
    text-align: left;
    position: relative;
    margin-bottom: 50px;
    form {
      margin-top: 38px;
      button {
        color: $primary_color;
        background: none;
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 17px;
        i {
          margin-left: 10px;
        }
      }
      input {
        box-sizing: border-box;
        width: 100%;
        padding: 25px;
      }
    }
  }
}


/* ==========================================================================
[Bottom]
========================================================================== */
.band-bottom {
  background: $bottom_bg_color;
  color: $secondary_color_light;
  padding: 100px 0;
  a {
    color: $secondary_color_light;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .bottom-item {
    text-align: center;
    margin-bottom: 50px;
  }
  .bottom-left {
    padding-top: 50px;
    text-align: center;
    color: $bottom_color;
    p {
      font-size: 16px;
      a {
        font-size: 16px;
      }
    }
    a {
      color: $bottom_color;
    }
  }
  .bottom-right {
    padding-top: 50px;
    text-align: center;
    color: $bottom_color;
    a {
      color: $bottom_color;
      padding: 0 15px;
    }
    p {
      a {
        font-size: 16px;
      }
    }
  }
  .bottom-social-links a {
    color: $bottom_color;
    padding: 5px 10px;
  }
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .clear-mobile {
    display: none;
  }
  .band-header {
    .container {
      .header-left {
        margin-top: 50px;
        width: 100%;
        text-align: left;
      }
    }
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .band-header {
    .container {
      .header-left {
        margin-top: 100px;
        width: 80%;
      }
    }
  }
  .band-about {
    .container {
      .about-items {
        .about-item {
          width: 45%;
          float: left;
          &:nth-child(even) {
            float: right;
          }
        }
      }
    }
  }
  .band-services {
    .service-items {
      .service-item {
        width: 50%;
        float: left;
      }
    }
  }
  
  .band-bottom {
    .bottom-item {
      width: 50%;
      float: left;
      margin-bottom: 50px;
      text-align: center;
    }
    .bottom-right, .bottom-left {
      width: 50%;
      float: left;
      p {
        text-align: center;
      }
    }
    ul {
      li {
        a {
          text-align: center;
        }
      }
    }
  }
    


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .band-header {
    .container {
      .logo {
        float: left;
      }
      .menu {
        display: block;
      }
      .hamburger {
        display: none;
      }
      .hamburger-menu {
        display: none !important;;
      }
      .header-left {
        margin-top: 150px;
        width: 40%;
      }
    }
  }
  .band-services {
    .service-items {
      .service-item {
        width: 25%;
        float: left;
        .offset {
          padding: 0 20px;
        }
      }
      .service-even {
        display: none;
      }
    }
  }

  
  .band-wwd {
    .wwd-items {
      .wwd-item {
        width: 50%;
        float: left;
        
        .wwd-item-left {
          float: left;
          width: 50%;
        }
        .wwd-item-right {
          width: 50%;
          float: right;
        }
        
        &.wwd-i-right{
          float: right;
        }
        h3 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .band-footer {
    .footer-item {
      width: 50%;
      float: left;
      form {
        button {
          top: 55px;
        }
      }
    }
  }
  .band-bottom {
    ul {
      li {
        a {
          text-align: center;
        }
      }
    }
    
    .bottom-left {
      p {
        text-align: center;
      }
      padding-top: 50px;
    }
    .bottom-right {
      p {
        text-align: center;
      }
      padding-top: 50px;
    }
  }
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .band-header {
    .container {
      .header-left {
        margin-top: 200px;
        width: 40%;
      }
    }
  }
  .band-bottom {
    .bottom-item {
      width: 25%;
      float: left;
      margin-bottom: 50px;
      text-align: left;
    }
    .bottom-left {
      p {
        text-align: left;
      }
    }
    .bottom-right {
      p {
        text-align: right;
      }
    }
    ul {
      li {
        a {
          text-align: left;
        }
      }
    }
  }
   .container {
       width: 1100px;
   }
}


/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px;
}