@import 'variables.scss';
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $primary_font_family;
  font-size: 19px;
  color: $primary_color_light;
  background-image: url('./../img/header-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100px 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary_font_family;
  color: $primary_color;
}
h1 {
  font-size: 48px;
}
h2 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
a {
  color: $primary_color;
}
p {
  font-size: 19px;
  &.small {
    font-size: 16px;
  }
  &.large {
    font-size: 23px;
  }
}

ul {
  &.list {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      background: url('../img/Shape\ 9@1X.png') no-repeat center left;
      line-height: 50px;
      padding-left: 40px;
      font-size: 16px;
      color: $primary_color;
      &::marker {
        margin-top: 5px;
      }
    }
  }
}

/* ==========================================================================
[General classes]
========================================================================== */
.band {
  position: relative;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.base-grid {
  height: 100%;
  // display: grid;
  // grid-gap: 0;
  // grid-template-rows: 100px auto 100px;
}

.clear {
  clear: both;
}


/* ==========================================================================
[Form elements]
========================================================================== */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
textarea {
  box-shadow: 0 0 23px -7px  $secondary_color;
  padding: 15px 30px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 5px;
}
[type="submit"], [type="button"], button, .button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  background-color: $secondary_color;
  color: white;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-size:19px;
  box-shadow: 0 0 11px -1px  $secondary_color;
  cursor: pointer;
  &:active {
    box-shadow: 0 0 11px -3px  $secondary_color;
  }
}
label {
  font-weight: bold;
}

// Alignment
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

// Floating
.cb {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}

// Margins
@for $i from 1 through 3 {
  .m-#{$i * 5} {
    margin: #{$i * 5}px;
  }
  .mt-#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
  .mr-#{$i * 5} {
    margin-right: #{$i * 5}px;
  }
  .mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px;
  }
  .ml-#{$i * 5} {
    margin-left: #{$i * 5}px;
  }
}
// Paddings
@for $i from 1 through 3 {
  .p-#{$i * 5} {
    padding: #{$i * 5}px;
  }
  .pt-#{$i * 5} {
    padding-top: #{$i * 5}px;
  }
  .pr-#{$i * 5} {
    padding-right: #{$i * 5}px;
  }
  .pb-#{$i * 5} {
    padding-bottom: #{$i * 5}px;
  }
  .pl-#{$i * 5} {
    padding-left: #{$i * 5}px;
  }
}

.menu-container {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
    }
  }
}


/* ==========================================================================
[Header]
========================================================================== */
.band-header {
  .container {
    margin-top: 50px;
    .logo {
      float: left;
    }
    .menu {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: inline;
          a {
            display: inline-block;
            padding: 10px 20px;
            line-height: 20px;
            text-decoration: none;
            margin-left: 20px;
            font-weight: bold;
          }
        }
      }
    }
    .header-left {
      margin-top: 250px;
      width: 50%;
    }
  }
}

/* ==========================================================================
[About us]
========================================================================== */
.band-about {
  .container {
    margin-top: 50px;
    .about-items {
      .about-item {
        width: 50%;
        float: left;
        .ai-offset {
          padding: 50px;
          border-radius: 5px;
          box-shadow: -11px 13px 17px -17px #32325d42;
        }
        // &.ai-shadow {
        // }
      }
    }
  }
}

/* ==========================================================================
[Services]
========================================================================== */
.band-services {
  background-image: url('./../img/BG@1X.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 150px 0px;
  .service-description {
    text-align: center;
    margin-bottom: 150px;
    .offset {
      width: 80%;
      margin: auto;
    }
  }
  .service-items {
    .service-item {
      width: 25%;
      float: left;
      text-align: center;
      .offset {
        padding: 0 20px;
      }
    }
  }
}

/* ==========================================================================
[Content]
========================================================================== */
.band-content .container {
}

/* ==========================================================================
[Footer]
========================================================================== */
.band-footer {
  background: $footer_bg_color;
  .container {
  }
}



 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .container {
       width: 1200px;
   }
}


/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px;
}