/* Font families */
$primary_font_family: 'Sen', sans-serif;
$secondary_font_family: 'Sen', sans-serif;

/* Main colors */
$primary_color: #32325D;
$primary_color_light: #7a917a;
$secondary_color: #845CFF;
$secondary_color_light: #ead8ac;
$dark_black: #000;
$light_black: #111;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$body_bg_color: #fff;
$footer_bg_color: #fff;
