/* Font families */
$primary_font_family: 'Sen', sans-serif;
$secondary_font_family: 'Sen', sans-serif;

/* Main colors */
$primary_color: #32325D;
$primary_color_light: #525F7F;
$secondary_color: #845CFF;
$secondary_color_light: #dedfe4;
$dark_black: #000;
$light_black: #111;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$body_bg_color: #fff;
$footer_bg_color: #fbfaff;
$bottom_bg_color: #212240;
$bottom_color: #555476;
